.cars {
    &__title {
        // h2
        color: $color-02;
    }
    &__item {
        // li
        color: $color-04;
    }
    &__bottom {
        // a
        background-color: $color-blue;
    }
}
/* 
cars__title
cars__item
cars__bottom
*/